* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nanum Gothic", sans-serif;
}

/* --- HEADER --- */

header {
    margin-bottom: .5rem;
}

.cart-pill {
    font-size: .7rem;
}

.navbar-nav {
    align-items: center;
    justify-content: space-between;
}

.nav-icon {
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.nav-item {
    padding: 0 1rem;
}

.nav-text {
    font-size: 1.5rem;
}

/* --- LOGIN PAGE --- */

.login-button,
.register-link {
    width: 80%;
    margin: 0 auto;
}

.login-container-main {
    margin: 3rem auto 0 auto;
}

.login-form {
    padding-right: 4rem;
    border-right: 1px solid lightgrey;
    border-bottom: none;
}

.login-form,
.new-customer {
    width: 26rem;
    display: flex;
    flex-direction: column;
}

.new-customer {
    padding-left: 4rem;
}

.new-customer>ul {
    list-style-type: circle;
    font-size: .9rem;
}

/* --- REGISTER PAGE --- */

.register-form {
    max-width: 55rem;
}

.register-form small {
    font-size: .75rem;
}

.register-required-label {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

/* --- ITEM FORM --- */

.admin-warning {
    text-align: center;
}

.admin-warning>h2 {
    color: red;
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .125em;
}

/* ---ORDER HISTORY & CART CSS--- */

.product-thumbnail {
    max-width: 200px;
    max-height: 200px;
    margin: auto 0;
}

.previous-order-card,
.cart-item-card {
    width: 80vw;
    height: 225px;
    margin: 0 auto;
    padding: 1em;
}

.previous-order-details,
.cart-item-details {
    height: 100%;
}

.oh-title {
    margin-left: 10vw;
}

.no-previous-orders {
    text-align: center;
}

.quantity-selection {
    max-width: 5em;
}

/* --- PRODUCT DETAILS PAGE --- */

.image-wrapper {
    min-width: 55%
}

.order-form-option {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid gray;
    border-radius: 5px;
    margin-right: .5rem;
}

.order-form-option.available,
.order-form-option.color {
    cursor: pointer;
}

.order-form-option.color.blue {
    background-color: #2b17ff;
}

.order-form-option.color.green {
    background-color: #005f01;
}

.order-form-option.color.red {
    background-color: #ba0000;
}

.order-form-option.color.white {
    background-color: white;
}

.order-form-option.color.yellow {
    background-color: #423d00;
}

.order-form-option.selected {
    border-width: 2px;
}

.order-form-option.size {
    font-size: .8rem;
}

.order-form-option.size.disabled {
    background-color: lightgray;
    color: gray
}

.order-form-selector>label,
.quantity-label {
    font-size: .8rem;
}

.product-image {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: lightgray;
}

.product-image>img {
    max-width: 95%;
    max-height: 95%;
}

.product-details {
    margin-left: 10rem;
}

.product-view {
    width: 75%;
    margin: 3rem auto 0 auto;
}

/* --- PRODUCTS PAGE --- */

.filter-container {
    width: 20rem;
}

.hide-filters,
.down-chevron,
.category-list-item {
    cursor: pointer;
}

.price-input {
    margin: 0 .5rem;
    border-radius: .8rem;
}

.product-card {
    width: 30%;
}

.product-card-image-container {
    background-color: lightgray;
    aspect-ratio: 1/1;
}

.product-card-image-container>img {
    max-width: 95%;
    max-height: 95%;
}

.product-link {
    cursor: pointer;
}

.sort-select {
    border: none;
}

.sort-select:focus {
    box-shadow: none;
}

.tool-bar {
    margin-bottom: 1rem;
    align-self: flex-end;
}

@media (max-width: 768px) {

    /* --- LOGIN PAGE --- */
    .login-button,
    .register-link {
        width: 80%;
        margin: 0 auto;
    }

    .login-container-bottom {
        flex-direction: column;
    }

    .login-form {
        padding-right: 0;
        border-right: none;
        border-bottom: 1px solid lightgrey;
        padding-bottom: 2rem;
    }

    .login-form,
    .new-customer {
        width: 90vw;
        display: flex;
        flex-direction: column;
    }

    .new-customer {
        padding-left: 0;
        padding-top: 2rem;
    }

    /* --- PRODUCT PAGE --- */
    .filter-container {
        width: 100vw
    }

    .product-container {
        flex-direction: column;
    }

    .tool-bar {
        margin-bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .product-card {
        width: 47%;
    }

    .product-card-container {
        margin-top: 1rem;
    }
}

@media (max-width: 576px) {

    /* --- HEADER --- */
    .account-nav {
        flex-direction: column;
    }

    .navbar-nav {
        align-items: flex-start;
    }

    .nav-item {
        padding: 0;
    }

    /* --- PRODUCT PAGE --- */

    .product-card {
        width: 96%;
    }
}