.cart-content {
    width: 60vw;
    margin: 0 auto;
}

.cart-header-container {
    display: flex;
}

.cart-item-details {
    margin-left: 2rem;
}

.cart-item-details>* {
    margin-bottom: 1rem;
}

.cart-header:first-of-type,
.cart-item-column:first-of-type {
    flex-basis: 60%;
}

.cart-header:not(:first-of-type),
.cart-item-column:not(:first-of-type) {
    flex-basis: 10%;
}

.cart-link {
    color: #007681;
    text-decoration-color: #007681;
}

.cart-thumbnail {
    max-width: 95%;
    max-height: 95%;
}

.cart-thumbnail-wrapper {
    width: 200px;
    height: 200px;
    background-color: lightgray;
}

.cart-total {
    width: 25%;
    align-self: flex-end;
    align-items: flex-end;
}

.description-key {
    width: 4rem;
}

.remove-item,
.quantity-button,
.reorder-button {
    cursor: pointer;
}

.stock-warning {
    font-size: .8rem;
}

@media (max-width: 768px) {
    .cart-content {
        width: 95vw;
    }

    .cart-header-container {
        display: none;
    }

    .cart-item-container,
    .cart-item-column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cart-item-column:not(:first-of-type) {
        margin-bottom: 1rem;
    }

    .cart-item-details {
        margin-left: 0;
    }

    .cart-item-details>* {
        margin-bottom: 0;
    }

    .cart-total {
        width: 100%;
        align-self: center;
        align-items: center;
    }

    .stock-warning {
        margin-bottom: 0;
    }
}