.admin-warning {
    text-align: center;
}

.admin-warning>h2 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: .125rem;
}

.item-color-form {
    flex: 0 0 18rem;
}

.item-form {
    width: 65vw;
    margin: 0 auto;
}

.size-stock-selector {
    margin-right: 1rem;
}

.size-checkbox {
    width: 7rem;
}

@media (max-width: 768px) {
    .item-color-form {
        flex-basis: 100%;
    }

    .item-form {
        width: 90vw;
    }

    .size-stock-selector {
        margin-right: 0;
    }
}